.order-form{
    margin: 5% 25%;
    text-align: center;
    width: 50%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 6px #116fb3;
    background:linear-gradient(#9ce5ed,#9bc3df);
}
.order-form h2{
    color: #116fb3;
    font-family: cursive;
    text-decoration: wavy;
    margin: 20px 0;
}
.order-form .input label{
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 18px;
    margin: 5px 0 5px 0;
}
.input input,p{
    width: 50%;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    outline: none;
}
/* .input input::placeholder{
    outline: none;
} */
.input p{
    margin-left: 10%;
}
/* .input::placeholder{
    outline: none;
} */
.radio{
    /* margin-left: 20%; */
    margin-bottom: 0;
}
.radio label{
    margin-left: -34%;
    /* display: inline-block; */
}
.radio input{
    width: 2%;
}
.btn{
    border: none;
    margin: 10px 0;
}
.btn button{
    font-size: 20px;
    padding: 10px;
    color: white;
    border: none;
    background-color: #1fa4b3;
    transition: ease-in 0.3s;
}
.btn button:hover{
    border: 1px solid #116fb3;
    background-color: #116fb3;
    border-radius: 5px;
}